/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


header .letsee_logo {
  display: inline-block;
  font-size: 35px;
  font-family: "Guardian Text Egyptian Web 400", Georgia, serif;
  font-weight: normal;
  color: #ff6707;
  height: 80px;
  padding-left: 30px;
  line-height: 65px;
  margin: 0px;
}

 .login-signup-nav {
  display: inline-block;
  float: right;
  font-size: 16px;
  height: 80px;
  line-height: 80px;
  padding-right: 34px;
  color: black;
}

.login-signup-nav a {
  text-decoration: none;
}
.login-signup-nav a:hover {
  text-decoration: underline;
}

.header-group {

}
.login-button {
  border-color: black 2px;
  border-radius: 10;
}

.login-button a:hover {
  background-color: black;
  color: white;
}


.header-group {
  display: inline;
  font-size: 16px;
  height: 80px;
  line-height: 80px;
  padding-right: 34px;
  text-decoration: none;
  color: black;
}
