/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.letsee_logo {
  display: inline;
  float: left;
  font-size: 35px;
  font-family: "Guardian Text Egyptian Web 400", Georgia, serif;
  font-weight: lighter;
  color: #f45800;
  text-align: left;
  margin-top: 13px;
}

.login-signup-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 18px;
  max-width: 1220px;
  border-bottom: 1px solid lightgray;
  margin: auto;
  height: 60px;
  line-height: 30px;
}

.nav-right {
  font-family: Georgia, serif;
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  margin-top: 14px;
  line-height: 15px;
}


.login-signup-nav button {
  font-weight: normal;
  float: right;
  font-size: 14px;
  padding-right: 15px;
  color: black;
  text-decoration: none;
  color: black;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.first-two-logins button {
  border: none;
}

.first-two-logins button:hover {
  text-decoration: underline;
  color: black;
}

.sign-in-login button {
  border-radius: 3px;
  border: 1px solid black;
}

.sign-in-login button:hover {
  background-color: black;
  text-decoration: none;
  color: white;
}

.header-group {
  display: inline;
  height: 30px;
  line-height: 30px;
  padding-right: 20px;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal-child {
  height: 682px;
  width: 326px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.login-form-container {
  font-weight: lighter;
  color: black;
  text-align: left;
  padding-left: 15px;
}

.header-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 18px;
  max-width: 1220px;
  border-bottom: 1px solid lightgray;
  margin: auto;
  height: 60px;
  font-family: Georgia, serif;
}

.header-right {
  font-family: Georgia, serif;
  color: black;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  margin-top: 13px;
  line-height: 15px;
  color: black;
}

 a {
   color: black;
  text-decoration: none;
  font-size: 14px;
  font-family: Georgia, serif;
  margin-top: 5px;
}

.header-right button {
  border-top: none;
  border-bottom: none;
  border-right: none;
  margin-bottom: 5px;
}

.dropdown {
  margin-top: 5px;
  margin-right: 40px;
  margin-left: 20px;
  background-color: white;
}
