/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.letsee_logo {
  display: inline;
  float: left;
  font-size: 35px;
  font-family: "Guardian Text Egyptian Web 400", Georgia, serif;
  font-weight: lighter;
  color: #f45800;
  text-align: left;
  margin-top: 22px;
  margin-left: 18px;
  margin-right: 10px;
}

.login-signup-nav {
  display: flex;
  flex-direction: row;
  font-weight: 100;
  justify-content: space-between;
  padding-left: 18px;
  border-bottom: 1px solid #e2e2e2;
  height: 80px;
  line-height: 35px;
  min-width: 1000px;
}

.nav-right {
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  line-height: 20px;
  margin-right: 125px;
}


.login-signup-nav button {
  font-weight: normal;
  font-size: 14px;
  padding-right: 15px;
  color: black;
  text-decoration: none;
  color: black;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.first-two-logins button {
  margin-top: 30px;
  border: none;
}

.first-two-logins button:hover {
  text-decoration: underline;
  color: black;
}

.sign-in-login button {
  border-radius: 3px;
  border: 1px solid black;
  padding: 6px 9px;
  margin-bottom: 10px;
  margin-top: 23px;
}

.sign-in-login button:hover {
  background-color: #3c3c3c;
  text-decoration: none;
  color: white;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal-child {
  height: 700px;
  width: 360px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 4px;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.modal-child input {
  border-radius: 4px;
  border-color: 1px solid gray;
  margin-right: 20px;
  height: 48px;
  box-shadow: none;
  text-decoration: none;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.modal-header {
  margin-top: 24px;
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 34px;
  font-family:"Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  text-rendering: optimizeLegibility;
}


.login-input-email {
  margin-top: 10px;
  border: 1px solid lightgray;
  padding-left: 15px;
  width: 90%;
  margin-bottom: 20px;
}

.login-input-password {
  margin-top: 10px;
  border: 1px solid lightgray;
  margin-bottom: 40px;
  padding-left: 15px;
  width: 90%;
}

.login-input-name {
  margin-top: 10px;
  border: 1px solid lightgray;
  margin-bottom: 20px;
  padding-left: 15px;
  width: 90%;
}

.modal-mid-border {
  color: #595959;
  text-align: center;
  width: 95%;
  border-bottom: 1px solid lightgray;
  line-height: 0.1em;
  margin: 10px 0 20px;
  font-size: 14px;
  padding-top: 12px;
  font-family:"Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
}

.modal-mid-border span {
    background: #fff;
    padding: 0 10px;
    width: 100%;
    margin-right: 5px;
    margin-left: 5px;
}

.session-submit-button {
  background-color: #222;
  color: white;
  text-align: center;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 26px;
  width: 95%;
}

.modal-demo-login-button {
  text-align: center;
  font-size: 16px;
  margin-top: 28px;
  width: 95%;
  height: 48px;
  border-radius: 4px;
  font-family:"Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-weight: normal;
  border: 1px solid lightgray;
  box-shadow: none;
  text-decoration: none;
}

.modal-demo-login-button:hover {
  background-color: lightgray;
  color:#3c3c3c;
}

.user-submit-button input:hover {
  background-color: #3c3c3c;
}

.already-a-user {
  text-align: center;
  font-size: 14px;
  margin-top: 34px;
  align-items: baseline;
  width: 95%;
  font-family:"Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-weight: normal;
  box-shadow: none;
  text-decoration: none;
  border: none;
}


.login-form-container {
  font-weight: lighter;
  color: black;
  text-align: left;
  padding-left: 15px;
  font-weight: 500;
}

.header-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 18px;
  border-bottom: 1px solid lightgray;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  height: 80px;
  padding-right: 20px;
  line-height: 35px;
}

.header-right {
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  color: black;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  margin-top: 20px;
  line-height: 18px;
  color: black;
}

 a {
   color: black;
  text-decoration: none;
  font-size: 14px;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  margin-top: 10px;
}

.you-dropdown-image {
  background-image: image-url("you_dropdown.png");
  width: 22px;
  height: 22px;
  background-size: cover;
  border-radius: 100%;
  border: 1px solid lightgray;
}

.header-right button {
  border-top: none;
  border-bottom: none;
  border-right: none;
  margin-bottom: 5px;
}

.dropdown {
  margin-right: 40px;
  margin-left: 20px;
  background: white;
  padding-left: 10px;
  border-left: 1px solid lightgray;
  height: 40px;
  color: rgb(89, 89, 89);
  font-size: 12px;
  z-index: 100;
}

.menu {
  background-color: white;
  border: 1px solid lightgray;
  text-decoration: none;
  width: 280px;
  height: 343px;
}

.you-dropdown-text {
  border-left: none;
}

.dropdown-name {
  font-size: 16px;
  margin-bottom: 20px;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

.dropdown-signout {
  border-left: none;
  font-size: 14px;
  width: 240px;
  height: 1px;
  padding: 20px;
  padding-bottom: 30px;
}

.dropdown-signout-background {
  margin-top: 180px;
  border-top: 1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.dropdown-signout:hover {
  background-color: #f2f2f2;
}


.you-droppeddown-image {
  background-image: image-url("you_dropdown.png");
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 100%;
  border: 1px solid lightgray;
}

.top-dropdown {
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
}


.etsy-banner {
  margin-top: 57px;
  margin-bottom: 57px;
  border-top: 1px solid lightgray;
  text-align: center;
  font-size: 32px;
  font-family: "Guardian-EgypTT",serif;
  font-weight: 300px;
  padding-top: 30px;
}
