/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.letsee_logo {
  display: inline;
  float: left;
  font-size: 35px;
  font-family: "Guardian Text Egyptian Web 400", Georgia, serif;
  font-weight: lighter;
  color: #f45800;
  text-align: left;
  margin-top: 16px;
  margin-left: 17px;
}

.login-signup-nav {
  display: flex;
  flex-direction: row;
  font-weight:100;
  justify-content: space-between;
  padding-left: 18px;
  max-width: 1220px;
  border-bottom: 1px solid #e2e2e2;
  margin: auto;
  height: 69px;
  line-height: 35px;
}

.nav-right {
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  line-height: 20px;
  margin-right: 125px;
}


.login-signup-nav button {
  font-weight: normal;
  font-size: 14px;
  padding-right: 15px;
  color: black;
  text-decoration: none;
  color: black;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}


.first-two-logins button {
  margin-top: 21px;
  border: none;
}

.first-two-logins button:hover {
  text-decoration: underline;
  color: black;
}

.sign-in-login button {
  border-radius: 3px;
  border: 1px solid black;
  padding: 6px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.sign-in-login button:hover {
  background-color: #3c3c3c;
  text-decoration: none;
  color: white;
}

.header-group {
  display: inline;
  height: 35px;
  line-height: 35px;
  padding-right: 20px;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal-child {
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  height: 700px;
  width: 360px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 4px;
}

.modal-child input {
  border-radius: 4px;
  border-color: 1px solid gray;
  margin-right: 20px;
  height: 48px;
  box-shadow: none;
  text-decoration: none;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.login-form label {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
}

.session-submit-button {
  background-color: #222;
  color: white;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 95%;
}

.session-submit-button input {
  margin-top: 10px;
}

.session-submit-button:hover {
  background-color: #3c3c3c;
}

.user-submit-button:hover {
  background-color: #3c3c3c;
}

.modal-header {
  margin-top: 20px;
  font-size: 26px;
  font-weight: 500;
  padding-bottom: 12px;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
}

.login-input-email {
  margin-top: 10px;
  border: 1px solid lightgray;
  padding-left: 15px;
  width: 90%;
}


.login-input-password {
  margin-top: 10px;
  border: 1px solid lightgray;
  margin-bottom: 40px;
  padding-left: 15px;
  width: 90%;
}

.login-input-name {
  margin-top: 10px;
  border: 1px solid lightgray;
  padding-left: 15px;
  width: 90%;
}

.modal-demo-login {
  text-align: center;
  font-size: 16px;
  margin-top: 15px;
  width: 95%;
  height: 48px;
  border-radius: 4px;
}

.modal-mid-border {
  color: #595959;
  text-align: center;
  width: 95%;
  border-bottom: 1px solid lightgray;
  line-height: 0.1em;
  margin: 10px 0 20px;
  font-size: 14px;
}

.modal-mid-border span {
  background:#fff;
  padding:0 10px;
}

.modal-demo-login:hover {
  background-color: lightgray;
  color: #3c3c3c;
}


.login-form-container {
  font-weight: lighter;
  color: black;
  text-align: left;
  padding-left: 15px;
}

.header-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 18px;
  max-width: 1220px;
  border-bottom: 1px solid lightgray;
  margin: auto;
  height: 69px;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
}

.header-right {
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  color: black;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  margin-top: 20px;
  line-height: 18px;
  color: black;
}

 a {
   color: black;
  text-decoration: none;
  font-size: 14px;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  margin-top: 5px;
}

.header-right button {
  border-top: none;
  border-bottom: none;
  border-right: none;
  margin-bottom: 5px;
}

.dropdown {
  margin-top: 5px;
  margin-right: 40px;
  margin-left: 20px;
  background-color: white;
}
