// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.product-index {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  overflow: scroll;
}

.product-index-item {
  display: inline-block;
  width: 120px;
  height: 175px;
  margin-top: 0px;
  margin-left: 24px;
  margin-right: 24px;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-weight: 300;
}

.index-productImage {
  max-height: 100px;
  min-height: 50px;
  min-width: 50px;
  max-width: 100px;
}

.index-productTitle {
  text-align: left;
  overflow: hidden;
  margin-top: 2px;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-style: normal;
}

.index-productPrice {
  margin-top: 4px;
}

.product-new {
  border: 2px solid black;
  border-style: dashed;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.product-input {
  display: flex;
  flex-direction: column;
}
