// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.product-index-item {
  border: 1px solid black;
  display: inline-block;
  width: 120px;
  height: 150px;
  margin: 10px;
}

.product-index {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  overflow: scroll;
}
